body{
  background-color: black;
}
#simonsign{
  text-align: center;
  font: normal 48px/normal "Warnes", Helvetica, sans-serif;
  margin-top: 2%;
  color: white;
}
.signClass {
  margin: 0 0.23%;
}
#playSimonSign{
  text-shadow: 0 0 10px rgba(180,180,180,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #f2f7f7 , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #8c8c8c ;
}
#signS{
text-shadow: 0 0 10px rgba(255,255,255,1) , -2px 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px rgba(255,0,0,1) , -2px 0 70px rgba(255,0,0,1) , 0 0 80px rgba(255,0,0,1) , 0 0 100px rgba(255,0,0,1) ;}
#signI{
text-shadow: 0 0 10px rgba(255,255,255,1) , -2px 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0cb20c , -2px 0 70px #0cb20c , 0 0 80px #0cb20c , 0 0 100px #0cb20c ;
}
#signM{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #f2f7f7 , 0 0 70px #ffffff , 0 0 80px #ffffff , 0 0 100px #ffffff ;
}
#signO{
text-shadow: 0 0 10px rgba(255,255,255,1) , -2px 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0000ff , -2px 0 70px #0000ff , 0 0 80px #0000ff , 0 0 100px #0000ff ;
}
#signN{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px rgba(255,255,0,1) , 0 0 70px rgba(255,255,0,1) , 0 0 80px rgba(247,247,121,1) , 0 0 100px rgba(255,255,170,1) ;
}
#playSimonSign{
  color: white;
}
#outerContainer{
  background-color: black;
  width: 75em;
  height: 50em;
  margin: 0 auto;
  display: flex;
}
#container2{
  height: 37.5em;
  width: 50em;
  display: inline-flex;
  /*margin: 0 auto;*/
}
#container3{

  height: 12.5em;
  width: 50em;
  display: inline-block;
}
#boxer{

}
#gameBoard{
  height: 35em;
  width: 45em;
  margin: 0 auto;
  margin-top: 1.25em;
  display: inline-block;
  float:right;
  z-index: 1;
}
#container1{
  font-size: 2em;
  height: 25em;
  width:  12.5em;

  color: white;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;

}
#scoreTable{
  margin: 0 auto;
  height: 25em;
  width:  12.5em;
  align-content: center;
  float:left;
  z-index: 1;
  text-align: center;
}
#scoreBoard{
  height: 12.5em;
  width: 50em;
  margin: 0 auto;
  font-size: 1em;
  text-decoration-style:dotted;

}

#simon{
  height: 35em;
width: 45em;
}
.redOn{
  background-color: #ff0000;
}
.redOff{
  background-color: #4d0000;
}
.blueOn{
  background-color: #00ffff;
}
.blueOff{
  background-color: #00004d;
}
.greenOn{
  background-color: #80ff00;
}
.greenOff{
    background-color: #0f3d0f;
}
.yellowOn{
  background-color: #ffff00;
}
.yellowOff{
  background-color: #4d4d00;
}
#red {

    height: 45%;
    width: 45%;
    border-top-right-radius: 100%;
    float: right;
    /*position: relative;
    left: 62%;
    top: 10%;*/
    border: 1em solid black;
}
#yellow {
  /*position: relative;
  bottom: 81.25%;
  left:26.5%;*/

  float: left;
  height: 45%;
  width: 45%;
  border-bottom-left-radius: 100%;
  border: 1em solid black;

}
#blue {
  /*position: relative;

  left: 62%;
  top: 10%;*/
  float: right;

  height: 45%;
  width: 45%;
  border-bottom-right-radius: 100%;
  border: 1em solid black;

}
#green {
  /*position: relative;

  bottom: 83%;
  left:26.5%;*/
  float: left;
  height: 45%;
  width: 45%;
  border-top-left-radius: 100%;
  border: 1em solid black;


}
#clock{
  font-size: 1em;
    width: 50%;
  height: 50%;
  text-align: center;
  font-size: 1.5em;
  font-family: Impact, Charcoal, sans-serif;
  display: inline-flex;
  margin-left: 25%;
  margin-top: 6%;

}
#Score{
  display: inline-block;

  width: 45%;
  height: 20px;
  margin-top: 20%;
}
#Seconds{
  display: inline-block;
  margin: 0 auto;
  width: 45%;
  height: 20px;
  margin-top: 20%;

}
#Round{
  margin-top: 20%;
}

#button{
  width: 50%
}
